.nav {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 20px 40px;
height: 200px;
font-size: 24px;
font-weight: 600;
}
.header {
  display: flex;
  color: #4d4a4a;
  background-color: bisque;
}
.logo {
  width: 80px;
  height: 120px;
  margin: 16px;
  -webkit-box-shadow: 5px 5px 15px 5px #000000; 
box-shadow: 5px 5px 15px 5px #4d4a4a;
}
a {
  /* font-family: "Permanent Marker"; */
  text-decoration: none;
  color: #4d4a4a;
  box-shadow: 5px 5px 5px 2px rgba(34, 60, 80, 0.2) inset,
  5px 5px 5px 2px rgba(34, 60, 80, 0.2);
  margin: 12px;
  padding: 4px;
  transition: 1s;
}
a:hover {
  transform: scale(1.1);
}