.notifContainer {
    position: fixed;
    top: 40px;
    right: 40px;
    
    list-style: none;
    text-align: center;
    padding: 12px;
}
.notif {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 80px;
    background-color: rgba(245, 126, 126, 0.5);
    margin: 8px;
}