.user {
  padding: 10px;
  border: 1px solid gray;
  background: rgb(245, 240, 223); 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: 1s;
}
.user:hover {
  transform: scale(1.02)
}
.userContainer {
  padding: 10px;
}